body {
    background-color: #FFF;	    
    font: normal 16px Helvetica, sans-serif;
}

#content {
    padding-top: 0px;
    
}

img {
    padding: 10px;
    background: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


form {
    padding-top: 60px;
}

.fail {
	background: red;
	color: white;
}

footer {
    margin-top: 30px;
}


.input {
    border: solid red 1px;
}

header {
    margin-left: 20px;
}